In [27]:
import sqlite3
import pandas as pd

In [28]:
con = sqlite3.connect("cap12_dsa.bd")

In [29]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

In [30]:

sql_query = """SELECT name FROM sqlite_master WHERE type = 'table';"""

In [31]:
# Executa a query
cursor.execute(sql_query)

In [32]:
print(cursor.fetchall())

[]

In [33]:
# Cria uma instrução SQL
query1 = 'SELECT * FROM tb_vendas_dsa'

In [34]:
cursor.execute(query1)

OperationalError: no such table: tb_vendas_dsa

In [ ]:
nomes_colunas = [description[0] for description in cursor.description]

TypeError: 'NoneType' object is not iterable

In [ ]:

print(nomes_colunas)